/* ----------------Body Styling--------------------------- */

body{
	font: 100%/1.5 Actor, Arial, sans-serif;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
	/*line-height: 1.5;
	font-family: Actor, Arial, sans-serif;*/
	color: #000;
}

p{
	font: 1em/1.5 Actor, Arial, helvetica, sans-serif;
	color: #000;
}

h1{
	font: 3em "PT Sans Caption", "PT Sans Narrow", Arial, sans-serif;
	color: #9c3208;
	text-shadow: 2px 2px 2px #000;
}
	
h3{
	font: 1.75em "Francois One", Arial, helvetica, sans-serif;
	color: #8A5000;
	margin: 0px 0px 0px 25px;
}

h5{
	font: 1.65em "Francois One", Arial, helvetica, sans-serif;
	color: #EBEBEB;
}

/* ------------------Navigation-----------------------------*/

nav ul{
	float: right;
	width: 41.66666%;
	list-style-type: none;
	padding: 0% 6.25% 0% 0%;
	overflow: hidden;
}

nav ul li{
	width: 25%;
	float: left;
}

nav a{
	text-decoration: none;
	background: #333;
	display: block;
	border-right: 1px solid #666;
	margin: 25% 0% 0% 0%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
}

nav a:hover{
	color: #9C3208;
	background: #fff;
}

nav a:active{
	color: #000;
	background: #333;
}



/* -----------------------Header----------------------------*/
#wrapper {
	font: 100%/1.5 Actor, Arial, sans-serif;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

header{
	background-color: #000;
	width: 95.83333%;
	height: 125px;
	margin: 0% 4.34782% 0% 0%;
	padding: 0% 0% 0% 40px;
}

header img{
	border: none;
	margin: 25px 20px 30px 0px;
	float: left;
}

/* ---------------Main/Home Page---------------------------*/

#demo{
	background-color: #999;
	padding: 0% 0% 2.60416% 0%;
	width: 100%;
	margin: auto 0;
	overflow: hidden;
}

#main_image{
	margin: 5.35714% 0% 0% 0%;
	width: 38.30953%;
	float: left
}

section{
	width: 56.33333%; /*560px / 960px*/
	float: right;
}

/* -----------------Images in Gallery--------------------*/

.image_gallery{
	clear: right;
	max-width: 97.91666%;

}

.image_gallery ul{
	margin: 0 auto;
}

.image_gallery ul li img{
	max-width: 15.95744%
	border-radius: 15px;
	border-width: 10px;
	margin: 5px;
	border-color: #000;
	border-style: solid;
	padding-left: 20px;
	float: left;
}

.image_gallery ul li{
	list-style-type: none;
}

/* ----------------------Aside----------------------------*/

aside{
	float: left;
	width: 38.64583%;
	clear: left;
}

aside ul{
	list-style-type: square;
}


/* ----------------------Links----------------------------*/

.information_links{
	clear: left;
}

.information_links ol{
	list-style-type: none;
}

ol a:link{
	color: #000;
}

ol a:hover{
	color: #8A0029;
}

/* ---------------Story paragraphs in columns-------------- */

article{
	border-radius: 10px;
	opacity: 0.75;
	background-color: #000;
}

article p{
	color: #fff;
	font-size: 1em/1.25;
	border: none;
	padding: 0px 15px 20px 15px;
	text-align: justify;
}

article h5{
	color: #FFC573;
	border: none;
	padding: 20px 15px 0px 15px;
	text-decoration: underline;

}

#stories{
	-ms-column-count: 3;
	-moz-column-count: 3;
	-web-column-count: 3;
	-o-column-count: 3;
	-khtml-column-count: 3;
	column-count: 3;	
}

/* ----------------------Contact Form---------------------- */

.contact_form{
	border-radius: 10px;
	background-color: #000;
	width: 100%;
	height: 500px;
}

/* --------------------Media Queries---------------------*/

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media screen and (min-width: 768px) and (max-width: 959px) {
		header {background-color: #509cff;} /* Blue */
		.image_gallery ul li img {max-width: 14.95744%}
		section {max-width: 50%; float: right;}
		#main_image{margin: 5.35714% 0% 0% 0%; width: 38.30953%; float: left;}
		h5 {font-size: 1em}
		p {font-size: .90em}
}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media screen and (min-width: 480px) and (max-width: 767px) {
		header {background-color: #ff7743;} /* Orange */
		section {float: none; clear: left;} 
		h1 {font-size: 2em;}
		header img {display: none;}
		nav ul {float: none; width: 90%;}
		h5 {font-size: 1em}
		p {font-size: .90em}
}

	/* Mobile Portrait Size to Mobile Landscape (devices and browsers) */
	@media screen and (max-width: 479px) {
		header {background-color: #d593ff;}/* purple */
		header img {display: none;}
		nav ul {float: none; width: 90%;}
		section {float: none; clear: left; width: 90%;}
		h1 {font-size: 1.5em;}
		p {font-size: .90em}
		aside {width: 90%;}
}